<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/news.css">
  <link rel="stylesheet" href="css/navigation.css">
  <link rel="stylesheet" href="css/gridBodyStyle.css">
</head>
<body>
  <header>

    <div class="app-logo">
      <img src="../icones/logoNACAJalinhado.png" alt="">
      <h1>NACAJ</h1>
    </div>
  </header>
  <main>
    <%if(Array.isArray(result)){
      result?.forEach(element => {
       if(typeof(element) == 'object') {%>
 
         <section class="news-link">
           <a href="/newsbyid/<%= element.id %>">
             <section class="main-content">
               <div class="image"><img src="imagens/<%= element.url %>" alt=""></div>
               <div class="title">
                 <div class="titulo"><h2><%= element.title %></h2></div>
               </div>
             </section>
           </a>
           <div class="change-buttons">
             <a href="/newsupdate/<%= element.id %>"><button class="edit-button buttons"><img src="../icones/pencil.png" alt=""></button></a>
             <button class="delete-button buttons"><img src="../icones/trashcan.png" alt=""></button>
             <div class="confirm-background">
               <div class="confirm-box">
                 <div class="confirm-text">
                  <p>Deseja realmente apagar esta noticia</p>
                </div>
                <div class="confirm-buttons">
                  <div class="accept"><button id="delete-button" data-doc="<%= element.id %>">Ok</button></div>
                  <div class="deny">Cancelar</div>
                </div>
              </div>
             </div>
           </div>
         </section>
     <%} 
    })

    }
     if(result.length <= 0) {%>  
    <section class="empty">
      <p>Não existem noticias para mostrar!</p>
    </section>
  <%}%>
  

  </main>
  <footer>

    <nav class="navigation">
      <a href="/" class="active"><img src="../icones/world_2298220.png" alt=""></a>
      <a href="/newscreate">
        <div class="add-button button"><img src="../icones/plusSign.png" alt="" class="add-icon"></div>
      </a>
      <a href="/activitydisplay"><img src="../icones/checklist_7111148.png" alt=""></a>
    </nav> 
  </footer>


  <script>
    let deleteButtonTrigger = document.querySelectorAll('.change-buttons');

    deleteButtonTrigger.forEach(element => {
      let triggerButton = element.children[1]
      let confirmPane = element.children[2]
      let deleteButton = confirmPane.children[0].children[1].children[0].children[0]
      let cancel = confirmPane.children[0].children[1]
      console.log(confirmPane)
      triggerButton.addEventListener('click', () => {
        confirmPane.style.width = '100svw'
        confirmPane.style.height = '100svh'
      })
      cancel.addEventListener('click', () => {
        confirmPane.style.width = '0svw'
        confirmPane.style.height = '0svh'
      })
      console.log(deleteButton)
      deleteButton.addEventListener('click', () => {
        
        const endpoint = `/delete/${deleteButton.dataset.doc}`;
    
        fetch(endpoint, {
          method: 'DELETE'
        })
        .then((response) => {
          window.location.href = '/'
        })
        .catch((err) => {
          console.log(err)
        })
      })
    })

    
  </script>

</body>
</html>