<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= result.title %></title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/news.css">
  <link rel="stylesheet" href="../css/navigation.css">
  <link rel="stylesheet" href="../css/gridBodyStyle.css">
</head>
<body>


  <header>
    <a href="/" class="back-button">
      <img src="../icones/back-arrow.png" alt="">
    </a>
    <div class="app-logo">
      <img src="../icones/logoNACAJalinhado.png" alt="">
      <h1>NACAJ</h1>
    </div>
  </header>
  <main class="main-padding">
    <h1><%= result.title %></h1>
    <img src="/imagens/<%= result.url %>" alt="">
        
    <%const dr = result.description.split('\r\n').map(para => `<p>${para.replace('\r\n', '<br>')}</p>`).join('')
    console.log(result.url)
    %>
    <%- dr %>

  </main>

  <footer>

    <nav class="navigation">
      <a href="/"><img src="../icones/world_2298220.png" alt=""></a>
      <a href="/newsupdate/<%= result.id %>">
        <div class="update-button button"><img src="../icones/pencil.png" alt="" class="add-icon"></div>
      </a>
      <a href="/activitydisplay"><img src="../icones/checklist_7111148.png" alt=""></a>
    </nav>
  </footer>

</body>
</html>